.all-prods-container {
  background-color: #ffffff;
  color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0; /* Ensure no margin is added */
}

.no-prods-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  align-items: center;
  font-size: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-name {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px 0 5px 0;
}

.card-price {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 100%;
  justify-content: center;
}

.card-container {
  width: 22%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  position: relative; /* Added for positioning the heart icon */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.all-prod-link-prod {
  display: block;
  height: auto;
  text-decoration: none;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s;
}

.card-container:hover .card-img {
  transform: scale(1.03);
}

.all-prods-info {
  padding: 20px;
  text-align: center;
  background-color: #ecf0f1;
}

.all-prods-color-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.fa-circle {
  cursor: pointer;
  font-size: 18px;
  color: #3498db;
  transition: color 0.3s;
}

.fa-circle:hover {
  color: #2980b9;
}

.add-favorite-button {
  position: absolute; /* Absolute positioning to place the heart icon */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: none; /* No background for the heart icon button */
  border: none; /* No border for the heart icon button */
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  color: #000000; /* Heart icon color */
  transition: color 0.3s;
}

.add-favorite-button.favorite-added {
  color: #ff6666; /* Change color when added to favorites */
}

.feedback-message {
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
}

.search-box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1230px) {
  .card-container {
    width: 30%; /* Adjust the width as needed */
  }
}

@media screen and (max-width: 992px) {
  .card-container {
    width: 45%; /* Adjust the width as needed */
  }
}

@media screen and (max-width: 768px) {
  .product-cards {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 90%;
    margin: 10px 0;
  }

  .card-img {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .product-cards {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 100%;
    margin: 10px 0;
  }

  .card-img {
    height: 150px;
  }
}
