.add-style-item-container {
    height: auto;
    width: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #f0f0f0;
    font-weight: lighter;
    padding: 20px;
}

.would-you-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 200px;
}

.would-you {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
    font-style: italic;
}

.would-you-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store-button {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.store-button:hover {
    background-color: #f0f0f0;
    color: #333;
}

.nevermind-new-style {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #f0f0f0;
    font-weight: lighter;
    font-size: 13px;
    padding-bottom: 80px;
    cursor: pointer;
}

.nevermind-new-style:hover {
    font-size: 14px;
    color: #b3b3b3;
}

.new-style-modal-container {
    display: flex;
    flex-direction: column;
}

.drop-down-menu-styles {
    height: 80px;
    overflow-y: scroll;
    background-color: #1a1a1a;
    position: absolute;
    padding: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    width: 250px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
    color: #f0f0f0;
}

.style-list-item {
    text-decoration: none;
    border: none;
    color: #f0f0f0;
    background-color: transparent;
    width: 230px;
    cursor: pointer;
    display: grid;
    justify-content: start;
    margin-bottom: 3px;
    font-weight: lighter;
}

.style-list-item:hover {
    background-color: #333;
    color: #f0f0f0;
}

.already-has-item {
    margin-top: 5px;
    color: #ff4c4c;
    font-style: italic;
}
