.new-style-form-container {
  background: linear-gradient(135deg, #000, #333);
  height: 220px;
  width: 800px;
  display: grid;
  border-radius: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "style-title-input-area"
    "new-style-errors-container"
    "style-form-button";
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: auto;
}

.style-title-input-area {
  grid-area: style-title-input-area;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.new-style-form-title-input {
  display: flex;
  width: 100%;
  justify-content: center;
}

.new-style-title-input2 {
  outline: none;
  border: 2px solid #fff;
  background-color: #222;
  width: 70%;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  transition: border-color 0.3s, background-color 0.3s;
}

.new-style-title-input2:focus {
  border-color: #fff;
  background-color: #444;
}

.style-form-button {
  grid-area: style-form-button;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.new-style-form-btn {
  padding: 10px 30px;
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}

.new-style-form-btn:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  transform: translateY(-3px);
}

.new-style-errors-container {
  grid-area: new-style-errors-container;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 15px;
  color: #ff4d4d;
}

.new-style-errors-container span {
  color: #ff4d4d;
  font-size: 0.9em;
}

.title-label {
  font-size: 1.2em;
  margin-right: 10px;
}
