* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    font-size: 17px;
  }

  html, body {
    height: 100%;
  }
  .main-wrap {
    min-height: 100%;
    margin-bottom: -350px;
  }
  .main-wrap:after {
    content: "";
    display: block;
  }
  .app-footer, .main-wrap:after {
    height: 350px;
  }


h1 {
  font-family: Italiana;
  font-size: 40px;
  color: #000000;
  font-weight: bolder;
}

.page-header {
  background-color: #ffffff;
    color: #000000;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.store-button {
  height: 45px;
  font-size: 15px;
  font-weight: lighter;
  background-color: #efefef;
  color: #ffffff;
  cursor: pointer;
  width: 250px;
  border-radius: 3px;
  border: #fdf9f5 2px solid;
}

.store-button:hover {
  color: #909090;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.store-button-white {
  height: 45px;
  font-size: 15px;
  font-weight: lighter;
  background-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  width: 250px;
  border: #a6a6a6 2px solid;
  border-radius: 3px;
}

.store-button-white:hover {
  color: #ffffff;
  background-color: #c0c0c0;
  border: 2px solid #fafafa;
}