.new-arrivals-container {
    margin-top: -110px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    object-fit: contain;
    max-width: 1500px;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
}

.link-new-arrivals {
    text-decoration: none;
    padding: 12px 26px;
    border-radius: 2px;
    border: 2px solid white;
    cursor: pointer;
    margin-right: 50px;
    color: #ffffff;
    font-size: 15px;
    margin-top: 200px;
    transition: all 0.3s ease-out;
}

.link-new-arrivals:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff00;
}

@media screen and (max-width: 960px) {
    .new-arrivals-container {
        margin-top: -150px;
        font-size: 70px;
        align-items: center;
    }

    .link-new-arrivals {
        margin-right: 0;
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 768px) {
    .new-arrivals-container {
        align-items: center;
    }

    .new-arrivals-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .new-arrivals-container > p {
        font-size: 30px;
    }

    .link-new-arrivals {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 150px;
    }
}
